body{
    margin: 0;
    padding: 0;
    list-style: none;
}

.App-container.Dark{
    background-color: black;
    color: white;
    border: 5px solid brown;
}

.App-container{
    background-color: aqua;
    border: 5px solid blue;
    font-size: 40px;
    
}



