.div-App{
    border: 2px solid rgb(71, 70, 70);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.section1-App{

    text-align: center;
}

.section2-App{

    display: flex;
    flex-direction: column;

}

.section2-App .button-App{
    background-color: rgb(133, 248, 233);
    transition: 300ms;
    border-radius: 15px;
    padding: 10px;

}

.section2-App .button-App:hover{
    background-color: rgb(134, 223, 223);

}

/*Cambio de Color (Button-App2)*/

/*Dato: Si quieres cambiar el style de un elemento , se recomienda que pongas
otro nombre después del q pusiste , con la finalidad de solo cambiar los colores*/
.section2-App .button-App.isFollowing{
    background-color: rgb(218, 91, 165);
}





button {
  all: unset;
}


/* Este es el contenedor de la App.jsx */

.Contenedor{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Cambiar el texto y el color cuando el cursor está en el botón*/

.texto2{
    display: none;
}

.section2-App .button-App.isFollowing:hover .texto2{
    display: flex;
}

.section2-App .button-App.isFollowing:hover .texto1{

    display: none;
}

.section2-App .button-App.isFollowing:hover{

    color: red;
    background-color: rgba(245, 26, 26, 0.123);
    border: 1px solid red;
    
}