*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(73, 69, 69);
    background-color: black;
    
}

